<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Open Financial Exchange File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ofx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Quicken Interchange Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.qif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Comma Separated Values File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.csv</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.ofx</string>
			<key>UTTypeDescription</key>
			<string>Open Financial Exchange File</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ofx</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-ofx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.qif</string>
			<key>UTTypeDescription</key>
			<string>Quicken Interchange Format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qif</string>
				</array>
				<key>public.mime-type</key>
				<string>application/qif</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.csv</string>
			<key>UTTypeDescription</key>
			<string>Comma Separated Values File</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>csv</string>
				<key>public.mime-type</key>
				<string>application/csv</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
